<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WAF Security Demo</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <main class="container">
      <h1>Web Application Firewall Demo</h1>
      <p>
        A demonstration of SQL Injection and XSS attacks and how a WAF prevents
        them
      </p>

      <div class="actions">
        <a href="/login" class="btn">Login</a>
        <a href="/comments" class="btn">Comments</a>
      </div>
    </main>
  </body>
</html>
